body {
  background-color: #2d2d2d;
}

h1 {
  color: #c26356;
  font-size: 30px;
  font-family: Menlo, Monaco, fixed-width;
}

p {
  color: white;
  font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
}

div {
  height: 40px;
  width: 70%;
  background: black;
  margin: 50px auto;
  border-radius: 5px;
  position: relative;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rect {
  animation-name: rainbow;
  animation-duration: 15s;
}

@keyframes rainbow {
  0% {
    background-color: #007bff;
    top: 0px;
    left: 0px;
  }
  25% {
     background-color: #ff0000;
    top: 50px;
    left: 25px;
  }
  50% {
    background-color: #b8ffb5;
    top: 50px;
    left: 25px;
  }
  100% {
    background-color: yellow;
    top: 0px;
    left: -25px;
  }
}
