html,
body {
  height: 100%;
  margin: 0;
}

.my-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 3px solid tomato;
  background-color: #282828;
}

h1 {
  color: tomato;
  font-size: 30px;
  font-family: Menlo, Monaco, fixed-width;
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid tomato;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: scrivi 3.5s steps(40, end), blinking 0.75s step-end infinite;
}

@keyframes scrivi {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: tomato;
  }
}
